{% extends "layout.html" %}
{% block content %}
<style>
    table,
    th,
    td {
        border: 2px solid;
    }

</style>

<h2 style="text-align:center"> Informasi Mahasiswa </h2>
<table style="margin: 0px auto;">
    <thead>
        <tr>
            <th>ID Mahasiswa</th>
            <th>Nama</th>
            <th>Fakultas</th>
            <th>Edit</th>
            <th>Hapus</th>
        </tr>
    </thead>
    <tbody>
        {% for mahasiswa in mahasiswas %}
        <tr>
            <td>{{mahasiswa.Mahasiswa_id}}</td>
            <td>{{mahasiswa.Nama}}</td>
            <td>{{mahasiswa.Fakultas}}</td>
            <td>
                <a href="/update/{{mahasiswa.pk}}">Update</a>
            </td>
            <td>
                <a href="/delete/{{mahasiswa.pk}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/create" class="button">Tambah</a>
{% endblock %}
